/* Shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --dark-1: #131318;
    --dark-2: #424247;
    --primary: #FF5400;
}

/* header style */

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-1);
    font-size: 2rem;
    font-weight: 800;
}
.nav-icon #travel {
    color: var(--primary);
}

.header-content {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 1.2rem;
}

nav li a {
    text-decoration: none;
    color: var(--dark-2);
}

#toggler,label {
    display: none;
}

#home {
    color: var(--primary);
}

/* Explore Your Travel */
.section-travel {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(2\).png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section-container {
    padding: 0;
    text-align: center;
}

.section-container h1 {
    font-size: 3rem;
    font-weight: 800;
}

.section-container p {
    font-size: 1rem;
}

.btn-content {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    align-items: center;
    justify-content: center;
}

.btn-content button {
    width: 174px;
    height: 52px;
    border: none;
    margin: 20px;
}
.findnow{
   background-color: var(--primary);
}
/* Responsive for mobile */
@media screen and (max-width:600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    label {
        display: inline-flex;
    }
    .section-travel {
        width: 30%px;
        height: 583px;
        justify-content:start;
        align-items: start;

    }
    .section-container h1 {
        font-size: 1.8rem;
    }

    .section-container {
        padding: 30px;
    }

    .btn-content button {
        width: 255px;
        height: 52px;
        border: none;
        margin: 10px;
    }
}