/* Shared style */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 30px;
}

:root {
    --dark-1: #131318;
    --dark-2: #424247;
    --primary: #FF5400;
    --font-header: 2.5rem;
    --font-header2: 1.5rem;
    --font-body: 1.2rem;
}

/* header style */

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-1);
    font-size: 2rem;
    font-weight: 800;
}

.nav-icon #travel {
    color: var(--primary);
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 1.2rem;
}

nav li a {
    text-decoration: none;
    color: var(--dark-2);
}

#toggler,
toggle-level {
    display: none;
}

#home {
    color: var(--primary);
}

/* Explore Your Travel */
.section-travel {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(2\).png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section-container {
    padding: 0;
    text-align: center;
}

.section-container h1 {
    font-size: 3rem;
    font-weight: 800;
}

.section-container p {
    font-size: 1rem;
}

.btn-content {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    align-items: center;
    justify-content: center;
}

.btn-content button {
    width: 174px;
    height: 52px;
    border: none;
    margin: 20px;
}

.findnow {
    background-color: var(--primary);
}

/* our popular tour section */
.popular-tours {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 40px;
    gap: 30px;
}

.popular-tour-text {
    width: 50%;
}

.popular-tour-text h3 {
    font-size: 2.5rem;
    font-weight: 800;
}

.popular-tours p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.popular-tours li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.popular-tour-img {
    width: 50%;
}

.popular-tours img {
    width: 100%;
    height: 500px;
    border-radius: 16px;
}

#readmore {
    color: #FFF;
    background-color: var(--primary);
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
}

/*  choose your destination*/
.choose-dest {
    margin-top: 40px;
    width: 100%;
}

.choose-dest-title {
    text-align: center;
}

.choose-dest-title h3 {
    font-size: 2.5rem;
    font-weight: 800;
}

.choose-dest-title p {
    color: rgba(19, 19, 24, 0.70);
    font-size: var(--font-body);
    font-weight: 400;
    padding: 0px 250px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.container:hover {
    background-color: #131318;
    opacity: 80%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contain-img1 {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.contain-img2 {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.contain-img3 {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.contain-img1 img {
    width: 100%;
    height: 300px;
}

/* why choose us  */
.why-choose-title {
    width: 100%;
    height: auto;
    text-align: center;
}

.why-choose-title h3 {
    color: var(--dark-1);
    font-size: 2.5rem;
    font-weight: 800;
}

.why-choose-title p {
    color: var(--dark-1);
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 300px;
}

.why-choose-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.card1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 10px;
}

.card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 10px;
}

.card3-container {
    display: flex;
    justify-content: center;
}

.card3 {
    margin-top: 20px;
    width: 632.5px;
    height: 235.44px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 10px;
}

/* Deals & Discount */
.discounts {
    margin-top: 40px;
}

.discount-title {
    text-align: center;
}

.discount-title h3 {
    font-size: var(--font-header);
    color: var(--dark-1);
}

.discount-title p {
    font-size: var(--font-body);
    color: var(--dark-2);
    padding: 0px 300px;
}

.discount-section1 img {
    border-radius: 16px;
    width: 100%;
    height: auto;
    margin-bottom: 24px;

}

.discount-section2 img {
    border-radius: 16px;
    width: 100%;
    height: auto;
    margin-bottom: 24px;

}

.image-icon img {
    width: 24px;
    height: 24px;
    align-items: center;
}

.image-icon a {
    text-decoration: none;
    color: var(--dark-1);
    padding: 10px;
}

.discount-section1 {
    position: relative;
    color: black;
}

.discount-section2 {
    position: relative;
    color: black;
}

/* .container:hover {
    background-color: #131318;
    opacity: 80%;
} */

.discount-item1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 389px;
    padding: 30px;
}

#discount-item-title {
    font-size: var(--font-header2);
    color: var(--dark-1);
}

#discount-item-body {
    font-size: var(--font-body);
}

#price-tag {
    color: var(--primary);
}

#book-now {
    width: 150px;
    height: 52px;
    border-radius: 8px;
    color: #FFF;
    background: var(--primary);
    border: none;
}

.discount-item2 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(10%, -50%);
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 389px;
    padding: 30px;

}

.packages {
    margin-top: 20px;
    text-align: center;
}

#all-packages {
    width: 210px;
    height: 52px;
    border-radius: 8px;
    font-weight: 800;
    color: #FFF;
    background-color: var(--primary);
    border: none;
}

/* A Simple Perfect Place To Get Lost */
.perfect-place {
    margin-top: 40px;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 30px;
}

.place-text {
    width: 50%;
    height: auto;
}

.place-text h3 {
    font-size: var(--font-header);
    color: var(--dark-1);

}
/* .place-text p li{
    font-size: var(--font-body);
    color: var(--dark-2);
} */
.place-text-list li{
    font-size: var(--font-body);
    font-weight: 700;
}
.place-video {
    width: 50%;
    height: auto;
}
#see-moere {
    width: 150px;
    height: 52px;
    border-radius: 8px;
    color: #FFF;
    background: var(--primary);
    border: none;
}
/* News letter section */
.news-letter{
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: auto;
    gap: 24px;
}
.news-letter-title{
    width: 40%;
    border: 1px solid #FF5400;
    border-radius: 8px;
    padding: 10px 40px;
}
.news-letter-title h3{
    font-size: 2rem;
}
.news-letter-img{
    width: 50%;
}
.from-item{
    text-align: center;
}
#fname{
    margin-top: 15px;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 60px;
    border-radius: 8px;
    border: none;
    background-color: aliceblue;
}
#lname{
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 60px;
    border-radius: 8px;
    border: none;
    background-color: aliceblue;
}
#subscribe{
    color: #FFF;
    border: none;
    background-color: var(--primary);
    padding: 10px 150px;
    border-radius: 8px;
}
/* Footer section */
.footer {
    margin-top: 40px;
    background: rgba(19, 19, 24, 0.05);
    padding: 30px 250px;
}

.footer-title p {
    width: 100%;
    height: auto;
    font-size: 1rem;
    text-align: center;
    color: var(--dark-2);
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-media img {
    width: 64px;
    height: 64px;
}

#rights {
    margin: 50px;
    font-size: 1rem;
    text-align: center;
    color: var(--dark-1);
}

/* Responsive for mobile */
@media screen and (max-width:576px) {
    body {
        margin: 15px;
    }

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    label {
        display: inline-flex;
    }

    .section-travel {
        width: 30%px;
        height: 583px;
        justify-content: start;
        align-items: start;

    }

    .section-container h1 {
        font-size: 1.8rem;
    }

    .section-container {
        padding: 30px;
    }

    .btn-content button {
        width: 255px;
        height: 52px;
        border: none;
        margin: 10px;
    }

    .popular-tours {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .popular-tour-text {
        width: 100%;
    }

    .popular-tour-text h3 {
        width: 90%;
    }

    .popular-tour-img {
        width: 80%;
    }

    .popular-tours img {
        width: 100%;
        height: auto;
    }

    .choose-dest {
        margin-top: 500px;
    }

    .choose-dest-title h3 {
        font-size: 40px;
        font-weight: 800;
    }

    .choose-dest-title p {
        padding: 0px;
        font-size: 1rem;
    }

    .choose-dest-title h3 {
        font-size: 1.5rem
    }

    .contain-img1 {
        flex-direction: column;
        width: 100%;
    }

    .contain-img2 {
        flex-direction: column;
        width: 100%;
    }

    .contain-img3 {
        flex-direction: column;
        width: 100%;
    }

    .choose-dest-img img {
        width: 350px;
        height: 175px;
    }

    .why-choose-title p {
        padding: 0px;
    }

    .why-choose-card {
        grid-template-columns: 1fr;
    }

    /* footer section */
    .footer {
        padding: 10px;
    }

    #rights {
        margin: 0px;
        font-size: 0.8rem;
    }

    /* Deals and Discounts section */
    .discount-title p {
        padding: 0px;
    }

    .discount-section1 img {
        border-radius: 16px;
        width: 100%;
        height: 500px;
    }

    .discount-section2 img {
        border-radius: 16px;
        width: 100%;
        height: 500px;
    }

    .discount-item1 {
        bottom: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 380px;
        padding: 10px;
    }

    .discount-item2 {
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 380px;
        padding: 10px;
    }

    .image-icon img {
        width: 10px;
        height: 10px;
        align-items: center;
    }

    #discount-item-title {
        font-size: 20px;
        color: var(--dark-1);
    }

    #discount-item-body {
        font-size: var(--font-body);
    }

    #book-now {
        width: 130px;
        height: 40px;
    }

    /* A Simple Perfect Place To Get Lost */
    .perfect-place {
        /* grid-template-columns: 1fr; */
        flex-direction: column;
    }
    .place-text {
        padding: 0px;
        width: 100%;
    }
    .place-text h3{
        font-size: 2rem;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    .place-video{
        width: 100%;
        height: auto;
    }
    .place-video iframe {
        width: 100%;
        height: 300px;;
    }
    .news-letter{
        flex-direction: column;
    }
    .news-letter-title{
        width: 80%;
        padding-bottom: 50px;
    }
    #fname{
        padding: 10px 10px;
    }
    #lname{
        padding: 10px 10px;
    }
    #subscribe{
        padding: 10px 100px;
    }
    .news-letter-img img{
        width: 100%;
    }
    .news-letter-img{
        width: 100%;
        height: auto;
    }
}